<launch>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
    		<arg name="paused" value="true"/>
    </include>


  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find robot_control)/config/config.yaml" command="load"/>


    <param name="robot_description" command="cat $(find robot)/urdf/manipulator.urdf" />

    <node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" respawn= "false" output="screen"
		args="-urdf -model manipulator -param robot_description -z 0.0"/>
  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/manipulator" args="joint1_position_controller joint2_position_controller joint_state_controller
    joint3_position_controller joint4_position_controller
    joint5_position_controller joint6_position_controller"/>

  <node name= "talker" pkg="robot_control" type= "control_multiple.py" output="screen"/>
  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/manipulator/joint_states" />
  </node>

</launch>